%h1.ui.header.page-header Add a Static Page

= form_for @static_page, url: admin_static_pages_path, html: {class: 'ui form'} do |f|
  = render 'form_fields', f: f
  %button.ui.green.button Create Static Page